## Tipos de Dados

- Int (1,2,3,4....10000)
- Float (1.0, 1.1, 1.2, 1.3... 1000000.0)
- String (Ex: dados de texto como nome, categorias...)
- Boolean (True ou False)
- Null (None)

### Definindo os tipos de dados

In [23]:
idade = 27        ##Int
salario = 10.0    ##float
nome = 'Nicksson' ##String
brasileiro = True ## Boleano
fumo = False      ## Boleano
senha = None      ## Sem típo

### Converter tipos de dados

- inteiro para float

In [25]:
salario = 100

In [26]:
type(salario)

int

In [28]:
salario = float(salario)

In [29]:
type(salario)

float

- float para string

In [30]:
idade = 50.0

In [31]:
type(idade)

float

In [33]:
idade = int(idade)

In [34]:
type(idade)

int

- int(1.0)
- str()
- float()

## Agora é sua vez

1) Crie um programa que receberá nome, idade, salário e brasileiro. o nome é uma variável String, a idade é uma variável inteira, o salário é uma variável float e brasileiro é uma variável boleana. 

2) Converta o a variável idade para float e a variável brasileiro para string.

3) Verifique o tipo de cada variável e imprima os valores e seus tipos conforme a saída abaixo:

**Saída:** 
- 'a variável idade é do tipo: {TIPO_DA_VARIAVEL}'
- 'a variável brasileiro é do tipo: {TIPO_DA_VARIAVEL}'
- 'a variável nome é do tipo: {TIPO_DA_VARIAVEL}

In [42]:
nome = 'Nicksson' ##String
idade = 27        ##Int
salario = 10.0    ##float
brasileiro = True ## Boleano

In [46]:
idade = float(idade)
brasileiro = str(brasileiro)

In [45]:
print('a variável idade é do tipo: {TIPO_DA_VARIAVEL}')
- 'a variável brasileiro é do tipo: {TIPO_DA_VARIAVEL}'
- 'a variável nome é do tipo: {TIPO_DA_VARIAVEL}

True