# Introdução aos Pandas

Pandas é uma biblioteca de código fonte aberto escrita sobre o Numpy. Permite rápida visualização e limpeza de diferentes tipos de dados. Além de possuir diferentes métodos de visualização de dados, semelhante ao Excel.

Nesta seção do curso, aprenderemos a usar pandas para análise de dados.  Você deve enxergar o pandas como uma versão extremamente poderosa do Excel, com muito mais recursos. Nesta seção do curso, você deve passar pelos notebooks nesta ordem:

* Series
* DataFrames
* Dados ausentes
* GroupBy
* Mesclar, Juntar, e Concatenar
* Operações
* Entrada e saída de dados

In [1]:
import numpy as np
import pandas as pd
import random

# 1. Series

O primeiro tipo de dado que aprenderemos é a Serie. Vamos importar Pandas e explorar tal objeto.

A Serie é muito semelhante a uma matriz NumPy (na verdade, ela é construída em cima do objeto de matriz NumPy). O que diferencia a matriz NumPy de uma Série, é que uma Serie pode ter rótulos de eixos, o que significa que pode ser indexado por um rótulo, em vez de apenas uma localização numérica. Também não precisa manter dados numéricos, ele pode conter qualquer objeto Python arbitrário.

Vamos explorar este conceito através de alguns exemplos:

### 1.1 Criando uma Serie

Você pode converter uma lista, numpy array ou dicionário para uma serie:

In [2]:
minha_lista = [10,20,30]

In [3]:
pd.Series(data=minha_lista)

0    10
1    20
2    30
dtype: int64

#### Definindo uma Series a partir de uma lista

In [4]:
# definindo array
labels = ['a','b','c']
pd.Series(data=minha_lista, index=labels)

a    10
b    20
c    30
dtype: int64

#### Definindo uma Series através de um NumPy Arrays **

In [5]:
arr = np.array([1,2,3])

In [6]:
pd.Series(np.array([1,2,3]))

0    1
1    2
2    3
dtype: int32

In [7]:
pd.Series(arr,labels)

a    1
b    2
c    3
dtype: int32

#### Definindo uma Series a partir de Dicionários **

In [8]:
# definindo um dicionário
d = {'a':10,'b':20,'c':30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### 1.2 Dados nas Series

Uma série de pandas pode conter uma variedade de tipos de objeto:

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [10]:
# Series também recebe funções (embora seja improvável que você usar isso)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### 1.3 Usando um Índice

A chave para usar uma Serie é entender seu índice. O Pandas faz uso desses nomes ou números de índice, permitindo pesquisas rápidas de informações (funciona como uma tabela de hash ou dicionário).

Vamos ver alguns exemplos de como pegar informações de uma Serie. Vamos criar duas Series, ser1 e ser2:

In [11]:
ser1 = pd.Series([1,2,3,4,5], 
                 index = ['EUA', 'Alemanha','USSR', 'Japão', 'EUA'])

In [12]:
ser1['EUA']

EUA    1
EUA    5
dtype: int64

In [13]:
ser2 = pd.Series([-1,-2,-5,-4],
                 index = ['EUA', 'Alemanha','Italia', 'Japão'])

In [14]:
ser2

EUA        -1
Alemanha   -2
Italia     -5
Japão      -4
dtype: int64

In [15]:
ser1['EUA']

EUA    1
EUA    5
dtype: int64

As operações também são feitas com base no índice:

In [16]:
ser1 + ser2

Alemanha    0.0
EUA         0.0
EUA         4.0
Italia      NaN
Japão       0.0
USSR        NaN
dtype: float64

In [17]:
ser1

EUA         1
Alemanha    2
USSR        3
Japão       4
EUA         5
dtype: int64

In [18]:
ser1.min()

1

In [19]:
ser1.max()

5

In [20]:
ser1.std()

1.5811388300841898

In [21]:
ser2.std()

1.8257418583505538

Vamos parar aqui por enquanto e passar para a DataFrames, que expandirá o conceito da Serie!

# 2. DataFrames

DataFrame é o elemeto mais importante dos Pandas e são diretamente inspirados pela linguagem de programação R. Podemos pensar em um DataFrame como um monte de objetos da série juntos para compartilhar o mesmo índice. Vamos usar Pandas para explorar esse tópico!

In [22]:
from numpy.random import randn
np.random.seed(101)

### 2.1 criando um DataFrame

In [23]:
df = pd.DataFrame(randn(20,4),
                  columns='W X Y Z'.split())

In [24]:
df.head(3)

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001

In [25]:
df.set_index('W')

                  X         Y         Z
W
 2.706850  0.628133  0.907969  0.503826
 0.651118 -0.319318 -0.848077  0.605965
-2.018168  0.740122  0.528813 -0.589001
 0.188695 -0.758872 -0.933237  0.955057
 0.190794  1.978757  2.605967  0.683509
 0.302665  1.693723 -1.706086 -1.159119
-0.134841  0.390528  0.166905  0.184502
 0.807706  0.072960  0.638787  0.329646
-0.497104 -0.754070 -0.943406  0.484752
-0.116773  1.901755  0.238127  1.996652
-0.993263  0.196800 -1.136645  0.000366
 1.025984 -0.156598 -0.031579  0.649826
 2.154846 -0.610259 -0.755325 -0.346419
 0.147027 -0.479448  0.558769  1.024810
-0.925874  1.862864 -1.133817  0.610478
 0.386030  2.084019 -0.376519  0.230336
 0.681209  1.035125 -0.031160  1.939932
-1.005187 -0.741790  0.187125 -0.732845
-1.382920  1.482495  0.961458 -2.141212
 0.992573  1.192241 -1.046780  1.292765

In [26]:
df.reset_index()

    index         W         X         Y         Z
0       0  2.706850  0.628133  0.907969  0.503826
1       1  0.651118 -0.319318 -0.848077  0.605965
2       2 -2.018168  0.740122  0.528813 -0.589001
3       3  0.188695 -0.758872 -0.933237  0.955057
4       4  0.190794  1.978757  2.605967  0.683509
5       5  0.302665  1.693723 -1.706086 -1.159119
6       6 -0.134841  0.390528  0.166905  0.184502
7       7  0.807706  0.072960  0.638787  0.329646
8       8 -0.497104 -0.754070 -0.943406  0.484752
9       9 -0.116773  1.901755  0.238127  1.996652
10     10 -0.993263  0.196800 -1.136645  0.000366
11     11  1.025984 -0.156598 -0.031579  0.649826
12     12  2.154846 -0.610259 -0.755325 -0.346419
13     13  0.147027 -0.479448  0.558769  1.024810
14     14 -0.925874  1.862864 -1.133817  0.610478
15     15  0.386030  2.084019 -0.376519  0.230336
16     16  0.681209  1.035125 -0.031160  1.939932
17     17 -1.005187 -0.741790  0.187125 -0.732845
18     18 -1.382920  1.482495  0.961458 -2.141212
19     19  0.992573  1.192241 -1.046780  1.292765

### 2.2 Seleção e indexação

Vamos aprender os vários métodos para pegar dados de um DataFrame

In [27]:
df

           W         X         Y         Z
0   2.706850  0.628133  0.907969  0.503826
1   0.651118 -0.319318 -0.848077  0.605965
2  -2.018168  0.740122  0.528813 -0.589001
3   0.188695 -0.758872 -0.933237  0.955057
4   0.190794  1.978757  2.605967  0.683509
5   0.302665  1.693723 -1.706086 -1.159119
6  -0.134841  0.390528  0.166905  0.184502
7   0.807706  0.072960  0.638787  0.329646
8  -0.497104 -0.754070 -0.943406  0.484752
9  -0.116773  1.901755  0.238127  1.996652
10 -0.993263  0.196800 -1.136645  0.000366
11  1.025984 -0.156598 -0.031579  0.649826
12  2.154846 -0.610259 -0.755325 -0.346419
13  0.147027 -0.479448  0.558769  1.024810
14 -0.925874  1.862864 -1.133817  0.610478
15  0.386030  2.084019 -0.376519  0.230336
16  0.681209  1.035125 -0.031160  1.939932
17 -1.005187 -0.741790  0.187125 -0.732845
18 -1.382920  1.482495  0.961458 -2.141212
19  0.992573  1.192241 -1.046780  1.292765

In [28]:
df['W']

0     2.706850
1     0.651118
2    -2.018168
3     0.188695
4     0.190794
5     0.302665
6    -0.134841
7     0.807706
8    -0.497104
9    -0.116773
10   -0.993263
11    1.025984
12    2.154846
13    0.147027
14   -0.925874
15    0.386030
16    0.681209
17   -1.005187
18   -1.382920
19    0.992573
Name: W, dtype: float64

In [29]:
df['W'].value_counts()

 2.706850    1
 0.651118    1
-1.382920    1
-1.005187    1
 0.681209    1
 0.386030    1
-0.925874    1
 0.147027    1
 2.154846    1
 1.025984    1
-0.993263    1
-0.116773    1
-0.497104    1
 0.807706    1
-0.134841    1
 0.302665    1
 0.190794    1
 0.188695    1
-2.018168    1
 0.992573    1
Name: W, dtype: int64

In [30]:
# Passando uma lista com nomes das colunas
df[['W','Z']]

           W         Z
0   2.706850  0.503826
1   0.651118  0.605965
2  -2.018168 -0.589001
3   0.188695  0.955057
4   0.190794  0.683509
5   0.302665 -1.159119
6  -0.134841  0.184502
7   0.807706  0.329646
8  -0.497104  0.484752
9  -0.116773  1.996652
10 -0.993263  0.000366
11  1.025984  0.649826
12  2.154846 -0.346419
13  0.147027  1.024810
14 -0.925874  0.610478
15  0.386030  0.230336
16  0.681209  1.939932
17 -1.005187 -0.732845
18 -1.382920 -2.141212
19  0.992573  1.292765

In [31]:
df['W']

0     2.706850
1     0.651118
2    -2.018168
3     0.188695
4     0.190794
5     0.302665
6    -0.134841
7     0.807706
8    -0.497104
9    -0.116773
10   -0.993263
11    1.025984
12    2.154846
13    0.147027
14   -0.925874
15    0.386030
16    0.681209
17   -1.005187
18   -1.382920
19    0.992573
Name: W, dtype: float64

In [32]:
# Sintaxe SQL (Não recomendado!)
df.W

0     2.706850
1     0.651118
2    -2.018168
3     0.188695
4     0.190794
5     0.302665
6    -0.134841
7     0.807706
8    -0.497104
9    -0.116773
10   -0.993263
11    1.025984
12    2.154846
13    0.147027
14   -0.925874
15    0.386030
16    0.681209
17   -1.005187
18   -1.382920
19    0.992573
Name: W, dtype: float64

In [33]:
type(df['W'])

pandas.core.series.Series

As colunas dos DataFrames são Series

### 2.3 Criando uma coluna

In [34]:
df

           W         X         Y         Z
0   2.706850  0.628133  0.907969  0.503826
1   0.651118 -0.319318 -0.848077  0.605965
2  -2.018168  0.740122  0.528813 -0.589001
3   0.188695 -0.758872 -0.933237  0.955057
4   0.190794  1.978757  2.605967  0.683509
5   0.302665  1.693723 -1.706086 -1.159119
6  -0.134841  0.390528  0.166905  0.184502
7   0.807706  0.072960  0.638787  0.329646
8  -0.497104 -0.754070 -0.943406  0.484752
9  -0.116773  1.901755  0.238127  1.996652
10 -0.993263  0.196800 -1.136645  0.000366
11  1.025984 -0.156598 -0.031579  0.649826
12  2.154846 -0.610259 -0.755325 -0.346419
13  0.147027 -0.479448  0.558769  1.024810
14 -0.925874  1.862864 -1.133817  0.610478
15  0.386030  2.084019 -0.376519  0.230336
16  0.681209  1.035125 -0.031160  1.939932
17 -1.005187 -0.741790  0.187125 -0.732845
18 -1.382920  1.482495  0.961458 -2.141212
19  0.992573  1.192241 -1.046780  1.292765

In [35]:
df['soma_W_Y'] = df['W'] + df['Y']

In [36]:
df

           W         X         Y         Z  soma_W_Y
0   2.706850  0.628133  0.907969  0.503826  3.614819
1   0.651118 -0.319318 -0.848077  0.605965 -0.196959
2  -2.018168  0.740122  0.528813 -0.589001 -1.489355
3   0.188695 -0.758872 -0.933237  0.955057 -0.744542
4   0.190794  1.978757  2.605967  0.683509  2.796762
5   0.302665  1.693723 -1.706086 -1.159119 -1.403420
6  -0.134841  0.390528  0.166905  0.184502  0.032064
7   0.807706  0.072960  0.638787  0.329646  1.446493
8  -0.497104 -0.754070 -0.943406  0.484752 -1.440510
9  -0.116773  1.901755  0.238127  1.996652  0.121354
10 -0.993263  0.196800 -1.136645  0.000366 -2.129908
11  1.025984 -0.156598 -0.031579  0.649826  0.994405
12  2.154846 -0.610259 -0.755325 -0.346419  1.399521
13  0.147027 -0.479448  0.558769  1.024810  0.705796
14 -0.925874  1.862864 -1.133817  0.610478 -2.059691
15  0.386030  2.084019 -0.376519  0.230336  0.009512
16  0.681209  1.035125 -0.031160  1.939932  0.650049
17 -1.005187 -0.741790  0.187125 -0.732845 -0.818062
18 -1.382920  1.482495  0.961458 -2.141212 -0.421462
19  0.992573  1.192241 -1.046780  1.292765 -0.054206

### 2.4 Removendo colunas

In [37]:
df

           W         X         Y         Z  soma_W_Y
0   2.706850  0.628133  0.907969  0.503826  3.614819
1   0.651118 -0.319318 -0.848077  0.605965 -0.196959
2  -2.018168  0.740122  0.528813 -0.589001 -1.489355
3   0.188695 -0.758872 -0.933237  0.955057 -0.744542
4   0.190794  1.978757  2.605967  0.683509  2.796762
5   0.302665  1.693723 -1.706086 -1.159119 -1.403420
6  -0.134841  0.390528  0.166905  0.184502  0.032064
7   0.807706  0.072960  0.638787  0.329646  1.446493
8  -0.497104 -0.754070 -0.943406  0.484752 -1.440510
9  -0.116773  1.901755  0.238127  1.996652  0.121354
10 -0.993263  0.196800 -1.136645  0.000366 -2.129908
11  1.025984 -0.156598 -0.031579  0.649826  0.994405
12  2.154846 -0.610259 -0.755325 -0.346419  1.399521
13  0.147027 -0.479448  0.558769  1.024810  0.705796
14 -0.925874  1.862864 -1.133817  0.610478 -2.059691
15  0.386030  2.084019 -0.376519  0.230336  0.009512
16  0.681209  1.035125 -0.031160  1.939932  0.650049
17 -1.005187 -0.741790  0.187125 -0.732845 -0.818062
18 -1.382920  1.482495  0.961458 -2.141212 -0.421462
19  0.992573  1.192241 -1.046780  1.292765 -0.054206

In [38]:
df.drop('Z',axis=1)

           W         X         Y  soma_W_Y
0   2.706850  0.628133  0.907969  3.614819
1   0.651118 -0.319318 -0.848077 -0.196959
2  -2.018168  0.740122  0.528813 -1.489355
3   0.188695 -0.758872 -0.933237 -0.744542
4   0.190794  1.978757  2.605967  2.796762
5   0.302665  1.693723 -1.706086 -1.403420
6  -0.134841  0.390528  0.166905  0.032064
7   0.807706  0.072960  0.638787  1.446493
8  -0.497104 -0.754070 -0.943406 -1.440510
9  -0.116773  1.901755  0.238127  0.121354
10 -0.993263  0.196800 -1.136645 -2.129908
11  1.025984 -0.156598 -0.031579  0.994405
12  2.154846 -0.610259 -0.755325  1.399521
13  0.147027 -0.479448  0.558769  0.705796
14 -0.925874  1.862864 -1.133817 -2.059691
15  0.386030  2.084019 -0.376519  0.009512
16  0.681209  1.035125 -0.031160  0.650049
17 -1.005187 -0.741790  0.187125 -0.818062
18 -1.382920  1.482495  0.961458 -0.421462
19  0.992573  1.192241 -1.046780 -0.054206

In [39]:
# Porém, tal exclusão só ocorrerá se especificada no parâmetro inplace
df

           W         X         Y         Z  soma_W_Y
0   2.706850  0.628133  0.907969  0.503826  3.614819
1   0.651118 -0.319318 -0.848077  0.605965 -0.196959
2  -2.018168  0.740122  0.528813 -0.589001 -1.489355
3   0.188695 -0.758872 -0.933237  0.955057 -0.744542
4   0.190794  1.978757  2.605967  0.683509  2.796762
5   0.302665  1.693723 -1.706086 -1.159119 -1.403420
6  -0.134841  0.390528  0.166905  0.184502  0.032064
7   0.807706  0.072960  0.638787  0.329646  1.446493
8  -0.497104 -0.754070 -0.943406  0.484752 -1.440510
9  -0.116773  1.901755  0.238127  1.996652  0.121354
10 -0.993263  0.196800 -1.136645  0.000366 -2.129908
11  1.025984 -0.156598 -0.031579  0.649826  0.994405
12  2.154846 -0.610259 -0.755325 -0.346419  1.399521
13  0.147027 -0.479448  0.558769  1.024810  0.705796
14 -0.925874  1.862864 -1.133817  0.610478 -2.059691
15  0.386030  2.084019 -0.376519  0.230336  0.009512
16  0.681209  1.035125 -0.031160  1.939932  0.650049
17 -1.005187 -0.741790  0.187125 -0.732845 -0.818062
18 -1.382920  1.482495  0.961458 -2.141212 -0.421462
19  0.992573  1.192241 -1.046780  1.292765 -0.054206

In [40]:
df

           W         X         Y         Z  soma_W_Y
0   2.706850  0.628133  0.907969  0.503826  3.614819
1   0.651118 -0.319318 -0.848077  0.605965 -0.196959
2  -2.018168  0.740122  0.528813 -0.589001 -1.489355
3   0.188695 -0.758872 -0.933237  0.955057 -0.744542
4   0.190794  1.978757  2.605967  0.683509  2.796762
5   0.302665  1.693723 -1.706086 -1.159119 -1.403420
6  -0.134841  0.390528  0.166905  0.184502  0.032064
7   0.807706  0.072960  0.638787  0.329646  1.446493
8  -0.497104 -0.754070 -0.943406  0.484752 -1.440510
9  -0.116773  1.901755  0.238127  1.996652  0.121354
10 -0.993263  0.196800 -1.136645  0.000366 -2.129908
11  1.025984 -0.156598 -0.031579  0.649826  0.994405
12  2.154846 -0.610259 -0.755325 -0.346419  1.399521
13  0.147027 -0.479448  0.558769  1.024810  0.705796
14 -0.925874  1.862864 -1.133817  0.610478 -2.059691
15  0.386030  2.084019 -0.376519  0.230336  0.009512
16  0.681209  1.035125 -0.031160  1.939932  0.650049
17 -1.005187 -0.741790  0.187125 -0.732845 -0.818062
18 -1.382920  1.482495  0.961458 -2.141212 -0.421462
19  0.992573  1.192241 -1.046780  1.292765 -0.054206

In [41]:
df.drop('soma_W_Y',axis=1,inplace=True)

In [42]:
list(df.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [43]:
list(range(2, 4, 1))

[2, 3]

In [44]:
df.head()

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

In [45]:
#drop rows
df.drop([1,2],axis=0, inplace=True)

In [46]:
df[['W','Y']]

           W         Y
0   2.706850  0.907969
3   0.188695 -0.933237
4   0.190794  2.605967
5   0.302665 -1.706086
6  -0.134841  0.166905
7   0.807706  0.638787
8  -0.497104 -0.943406
9  -0.116773  0.238127
10 -0.993263 -1.136645
11  1.025984 -0.031579
12  2.154846 -0.755325
13  0.147027  0.558769
14 -0.925874 -1.133817
15  0.386030 -0.376519
16  0.681209 -0.031160
17 -1.005187  0.187125
18 -1.382920  0.961458
19  0.992573 -1.046780

### 2.5 Seleção com loc e Iloc

In [47]:
df.head(5)

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509
5  0.302665  1.693723 -1.706086 -1.159119
6 -0.134841  0.390528  0.166905  0.184502

In [48]:
df

           W         X         Y         Z
0   2.706850  0.628133  0.907969  0.503826
3   0.188695 -0.758872 -0.933237  0.955057
4   0.190794  1.978757  2.605967  0.683509
5   0.302665  1.693723 -1.706086 -1.159119
6  -0.134841  0.390528  0.166905  0.184502
7   0.807706  0.072960  0.638787  0.329646
8  -0.497104 -0.754070 -0.943406  0.484752
9  -0.116773  1.901755  0.238127  1.996652
10 -0.993263  0.196800 -1.136645  0.000366
11  1.025984 -0.156598 -0.031579  0.649826
12  2.154846 -0.610259 -0.755325 -0.346419
13  0.147027 -0.479448  0.558769  1.024810
14 -0.925874  1.862864 -1.133817  0.610478
15  0.386030  2.084019 -0.376519  0.230336
16  0.681209  1.035125 -0.031160  1.939932
17 -1.005187 -0.741790  0.187125 -0.732845
18 -1.382920  1.482495  0.961458 -2.141212
19  0.992573  1.192241 -1.046780  1.292765

In [49]:
df.loc[7:12]

           W         X         Y         Z
7   0.807706  0.072960  0.638787  0.329646
8  -0.497104 -0.754070 -0.943406  0.484752
9  -0.116773  1.901755  0.238127  1.996652
10 -0.993263  0.196800 -1.136645  0.000366
11  1.025984 -0.156598 -0.031579  0.649826
12  2.154846 -0.610259 -0.755325 -0.346419

In [50]:
df

           W         X         Y         Z
0   2.706850  0.628133  0.907969  0.503826
3   0.188695 -0.758872 -0.933237  0.955057
4   0.190794  1.978757  2.605967  0.683509
5   0.302665  1.693723 -1.706086 -1.159119
6  -0.134841  0.390528  0.166905  0.184502
7   0.807706  0.072960  0.638787  0.329646
8  -0.497104 -0.754070 -0.943406  0.484752
9  -0.116773  1.901755  0.238127  1.996652
10 -0.993263  0.196800 -1.136645  0.000366
11  1.025984 -0.156598 -0.031579  0.649826
12  2.154846 -0.610259 -0.755325 -0.346419
13  0.147027 -0.479448  0.558769  1.024810
14 -0.925874  1.862864 -1.133817  0.610478
15  0.386030  2.084019 -0.376519  0.230336
16  0.681209  1.035125 -0.031160  1.939932
17 -1.005187 -0.741790  0.187125 -0.732845
18 -1.382920  1.482495  0.961458 -2.141212
19  0.992573  1.192241 -1.046780  1.292765

In [51]:
df.set_index('W', inplace=True)

In [52]:
df

                  X         Y         Z
W
 2.706850  0.628133  0.907969  0.503826
 0.188695 -0.758872 -0.933237  0.955057
 0.190794  1.978757  2.605967  0.683509
 0.302665  1.693723 -1.706086 -1.159119
-0.134841  0.390528  0.166905  0.184502
 0.807706  0.072960  0.638787  0.329646
-0.497104 -0.754070 -0.943406  0.484752
-0.116773  1.901755  0.238127  1.996652
-0.993263  0.196800 -1.136645  0.000366
 1.025984 -0.156598 -0.031579  0.649826
 2.154846 -0.610259 -0.755325 -0.346419
 0.147027 -0.479448  0.558769  1.024810
-0.925874  1.862864 -1.133817  0.610478
 0.386030  2.084019 -0.376519  0.230336
 0.681209  1.035125 -0.031160  1.939932
-1.005187 -0.741790  0.187125 -0.732845
-1.382920  1.482495  0.961458 -2.141212
 0.992573  1.192241 -1.046780  1.292765

In [53]:
df.iloc[5:10]

                  X         Y         Z
W
 0.807706  0.072960  0.638787  0.329646
-0.497104 -0.754070 -0.943406  0.484752
-0.116773  1.901755  0.238127  1.996652
-0.993263  0.196800 -1.136645  0.000366
 1.025984 -0.156598 -0.031579  0.649826

In [54]:
df.iloc[2]

X    1.978757
Y    2.605967
Z    0.683509
Name: 0.19079432237171562, dtype: float64

In [56]:
n_rows = df.shape[0]
meses = ['jan', 
         'fev', 
         'mar', 
         'abr', 
         'mai', 
         'jun', 
         'jul', 
         'ago', 
         'out', 
         'nov', 
         'dez'] * 2
df['mes'] = random.sample(meses, 18)

In [57]:
df

                  X         Y         Z  mes
W
 2.706850  0.628133  0.907969  0.503826  nov
 0.188695 -0.758872 -0.933237  0.955057  nov
 0.190794  1.978757  2.605967  0.683509  ago
 0.302665  1.693723 -1.706086 -1.159119  mar
-0.134841  0.390528  0.166905  0.184502  jan
 0.807706  0.072960  0.638787  0.329646  out
-0.497104 -0.754070 -0.943406  0.484752  jan
-0.116773  1.901755  0.238127  1.996652  mar
-0.993263  0.196800 -1.136645  0.000366  dez
 1.025984 -0.156598 -0.031579  0.649826  fev
 2.154846 -0.610259 -0.755325 -0.346419  abr
 0.147027 -0.479448  0.558769  1.024810  mai
-0.925874  1.862864 -1.133817  0.610478  abr
 0.386030  2.084019 -0.376519  0.230336  dez
 0.681209  1.035125 -0.031160  1.939932  out
-1.005187 -0.741790  0.187125 -0.732845  mai
-1.382920  1.482495  0.961458 -2.141212  jul
 0.992573  1.192241 -1.046780  1.292765  jun

In [58]:
%%time
df.set_index('mes', inplace=True)

Wall time: 13 ms

In [59]:
df

            X         Y         Z
mes
nov  0.628133  0.907969  0.503826
nov -0.758872 -0.933237  0.955057
ago  1.978757  2.605967  0.683509
mar  1.693723 -1.706086 -1.159119
jan  0.390528  0.166905  0.184502
out  0.072960  0.638787  0.329646
jan -0.754070 -0.943406  0.484752
mar  1.901755  0.238127  1.996652
dez  0.196800 -1.136645  0.000366
fev -0.156598 -0.031579  0.649826
abr -0.610259 -0.755325 -0.346419
mai -0.479448  0.558769  1.024810
abr  1.862864 -1.133817  0.610478
dez  2.084019 -0.376519  0.230336
out  1.035125 -0.031160  1.939932
mai -0.741790  0.187125 -0.732845
jul  1.482495  0.961458 -2.141212
jun  1.192241 -1.046780  1.292765

In [60]:
df.reset_index(inplace=True)

In [61]:
%%time
df[df['mes'] == 'fev']

Wall time: 15 ms

   mes         X         Y         Z
9  fev -0.156598 -0.031579  0.649826

- df.loc[rows, cols]

In [62]:
df.head()

   mes         X         Y         Z
0  nov  0.628133  0.907969  0.503826
1  nov -0.758872 -0.933237  0.955057
2  ago  1.978757  2.605967  0.683509
3  mar  1.693723 -1.706086 -1.159119
4  jan  0.390528  0.166905  0.184502

In [63]:
df.loc[0:3, ['Y','X']]

          Y         X
0  0.907969  0.628133
1 -0.933237 -0.758872
2  2.605967  1.978757
3 -1.706086  1.693723

- Linha usando iloc 4 a 10 as colunas mês e Z
- df.iloc[posicao_rows, posicao_cols]

In [64]:
df.head()

   mes         X         Y         Z
0  nov  0.628133  0.907969  0.503826
1  nov -0.758872 -0.933237  0.955057
2  ago  1.978757  2.605967  0.683509
3  mar  1.693723 -1.706086 -1.159119
4  jan  0.390528  0.166905  0.184502

In [66]:
df.iloc[0:2, 2:3]

          Y
0  0.907969
1 -0.933237

In [67]:
df.iloc[:,[0, 2, 3]]

    mes         Y         Z
0   nov  0.907969  0.503826
1   nov -0.933237  0.955057
2   ago  2.605967  0.683509
3   mar -1.706086 -1.159119
4   jan  0.166905  0.184502
5   out  0.638787  0.329646
6   jan -0.943406  0.484752
7   mar  0.238127  1.996652
8   dez -1.136645  0.000366
9   fev -0.031579  0.649826
10  abr -0.755325 -0.346419
11  mai  0.558769  1.024810
12  abr -1.133817  0.610478
13  dez -0.376519  0.230336
14  out -0.031160  1.939932
15  mai  0.187125 -0.732845
16  jul  0.961458 -2.141212
17  jun -1.046780  1.292765

### 2.6 Seleção condicional

Uma característica importante dos pandas é a seleção condicional usando notação de colchetes, muito semelhante ao numpy:

In [73]:
filter_Y_positivo = df['Y'] > 0
filter_Y_negativo = df['Y'] < 0

In [76]:
df[filter_Y_positivo]

    mes         X         Y         Z
0   nov  0.628133  0.907969  0.503826
2   ago  1.978757  2.605967  0.683509
4   jan  0.390528  0.166905  0.184502
5   out  0.072960  0.638787  0.329646
7   mar  1.901755  0.238127  1.996652
11  mai -0.479448  0.558769  1.024810
15  mai -0.741790  0.187125 -0.732845
16  jul  1.482495  0.961458 -2.141212

Para duas condições, você pode usar | e & com parênteses:

In [84]:
filter_X_Y_positivo = (df['X']>0) & (df['Y'] > 0)

In [85]:
df[filter_X_Y_positivo]

    mes         X         Y         Z
0   nov  0.628133  0.907969  0.503826
2   ago  1.978757  2.605967  0.683509
4   jan  0.390528  0.166905  0.184502
5   out  0.072960  0.638787  0.329646
7   mar  1.901755  0.238127  1.996652
16  jul  1.482495  0.961458 -2.141212

In [86]:
filter_X_Y_positivo = (df['X']>0) | (df['Y'] > 0)

In [87]:
df[filter_X_Y_positivo]['mes'].value_counts()

mar    2
out    2
dez    2
mai    2
nov    1
ago    1
jan    1
abr    1
jul    1
jun    1
Name: mes, dtype: int64

### 2.7 Reset e set Index to Dataframe

Vamos discutir mais alguns recursos de indexação, incluindo resetar o índice ou configurá-lo de outra forma. Também falaremos sobre hierarquia de índice!

###### Redefinir o indice padrão, ou seja, na seguinte sequẽncia 0,1 ... n índice

In [90]:
df.shape

(18, 4)

## 2.8 Hierarquia de índices e índices múltiplos

Vamos examinar como trabalhar com o Multi-Index, primeiro criaremos um exemplo rápido de como seria um DataFrame Multi-Indexado:

In [91]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
# criar uma lista de tuplas com as duas listas
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [92]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [93]:
# Criando um Dataframe
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -1.467514 -0.494095
   2 -0.162535  0.485809
   3  0.392489  0.221491
G2 1 -0.855196  1.541990
   2  0.666319 -0.538235
   3 -0.568581  1.407338

Agora vamos mostrar como indexar isso! Para a hierarquia de índice, usamos df.loc []. Se este fosse no eixo das colunas, você usaria a notação de suporte normal df []. Chamar um nível do índice retorna um sub-dataframe:

In [100]:
df.loc['G2']

          A         B
1 -0.855196  1.541990
2  0.666319 -0.538235
3 -0.568581  1.407338

In [95]:
df.loc['G2'].loc[1:2]

          A         B
1 -0.855196  1.541990
2  0.666319 -0.538235
3 -0.568581  1.407338

In [101]:
df.index.names

FrozenList([None, None])

In [ ]:
df.index.names = ['Grupo','Número']

In [ ]:
df

In [ ]:
#df.xs('G1')

In [ ]:
#df.xs(['G1',1])

In [ ]:
#df.xs(1,level='Número')

# 3. Lidando com dados ausentes

In [102]:
d = {'A':[1,2, np.nan], 'B':[5, np.nan, np.nan], 'C':[1,2,3]}

In [103]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [104]:
df = pd.DataFrame(d)

In [105]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

###### Apagar os valores ausentes

In [106]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [112]:
# Define o limite de nulos que serão excluídos
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

##### Substituindo valores ausentes por um valor qualquer

In [113]:
df.fillna(value=0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

##### Substituindo valores ausentes pela média de uma coluna

In [114]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [115]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [116]:
df['A'].sort_values().iloc[int(df.shape[0]/2)]

2.0

In [118]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [117]:
df.fillna(value=df['A'].mean())

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3

## 4. Método GroupBy

In [119]:
import pandas as pd

# criando um dataframe

data = {'Empresa':['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
        'Nome': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
        'Venda':[200,120,340,124,243,350]}

df = pd.DataFrame(data)
df

  Empresa     Nome  Venda
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [129]:
df.groupby('Empresa').sum()

         Venda
Empresa
FB         593
GOOG       320
MSFT       464

In [120]:
group = df.groupby('Empresa')

In [124]:
group

In [122]:
# Soma de vendas por empresa
group.sum()

         Venda
Empresa
FB         593
GOOG       320
MSFT       464

In [130]:
# Apresenta uma descrição estatística da tabela incluíndo count, mean, std
group.describe()

        Venda
        count   mean         std    min     25%    50%     75%    max
Empresa
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

## 5 Concatenar, Juntar e Mesclar

In [131]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                   'B':['B0', 'B1', 'B2', 'B3'],
                   'C':['C0', 'C1', 'C2', 'C3'],
                   'D':['D0', 'D1', 'D2', 'D3']},
                  index=[0, 1, 2, 3])

In [132]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                   'B':['B4', 'B5', 'B6', 'B7'],
                   'C':['C4', 'C5', 'C6', 'C7'],
                   'D':['D4', 'D5', 'D6', 'D7']},
                  index=[4, 5, 6, 7])

In [133]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                   'B':['B8', 'B9', 'B10', 'B11'],
                   'C':['C8', 'C9', 'C10', 'C11'],
                   'D':['D8', 'D9', 'D10', 'D11']},
                  index=[8, 9, 10, 11])

In [134]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [135]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [136]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

###### Concatenação

In [137]:
pd.concat([df1,df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

#### Mesclar

In [138]:
esquerda = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B':['B0', 'B1','B2', 'B3']})

direita = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D':['D0', 'D1','D2', 'D3']})

In [139]:
esquerda

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [140]:
direita

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [141]:
pd.merge(esquerda, direita, how='inner', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

### Método Join

In [142]:
esquerda = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                        'B':['B0', 'B1','B2']},
                       index=['K0', 'K1', 'K2'])

direita = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                        'D':['D0', 'D2','D3']},
                      index=['K0', 'K2', 'K3'])

In [144]:
esquerda.join(direita)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [145]:
esquerda.join(direita, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

- **Mais informações em: ** https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

- **Qual a diferença entre join and merge?**

pandas.merge() is the underlying function used for all merge/join behavior.

DataFrames provide the pandas.DataFrame.merge() and pandas.DataFrame.join() methods as a convenient way to access the capabilities of pandas.merge(). For example, df1.merge(right=df2, ...) is equivalent to pandas.merge(left=df1, right=df2, ...).

These are the main differences between df.join() and df.merge():

- 1) lookup on right table: df1.join(df2) always joins via the index of df2, but df1.merge(df2) can join to one or more columns of df2 (default) or to the index of df2 (with right_index=True).
- 2) lookup on left table: by default, df1.join(df2) uses the index of df1 and df1.merge(df2) uses column(s) of df1. That can be overridden by specifying df1.join(df2, on=key_or_keys) or df1.merge(df2, left_index=True).
- 3) left vs inner join: df1.join(df2) does a left join by default (keeps all rows of df1), but df.merge does an inner join by default (returns only matching rows of df1 and df2).

So, the generic approach is to use pandas.merge(df1, df2) or df1.merge(df2). But for a number of common situations (keeping all rows of df1 and joining to an index in df2), you can save some typing by using df1.join(df2) instead.

## 6. Operações

In [146]:
import pandas as pd

In [147]:
df = pd.DataFrame({"col1":[1,2,3,4], "col2":[444,555,666,444], "col3":['abc','def', 'ghi', 'xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [148]:
## Pegando valores únicos de uma coluna
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [149]:
## Pegando o total de valores únicos de uma coluna
df['col2'].nunique()

3

In [150]:
# Pegando os valores de uma coluna e suas respectivas quantidades
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

### 6.1 Selecionando dados

In [151]:
df[(df['col1'] > 2) & (df['col2'] < 666)]

   col1  col2 col3
3     4   444  xyz

In [152]:
df[(df['col1'] > 0) & (df['col2'] == 444)]

   col1  col2 col3
0     1   444  abc
3     4   444  xyz

### 6.2 Aplicando funcão

In [153]:
def dobro(x):
    return x * 2

In [154]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [155]:
df['col1'].apply(dobro)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [163]:
df['col1'].apply(lambda x: x*2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

### 6.3 Removendo colunas permanentemente

In [164]:
del df['col2']

In [165]:
df

   col1 col3
0     1  abc
1     2  def
2     3  ghi
3     4  xyz

### 6.4 Obter nome de colunas e indexes

In [166]:
df.columns

Index(['col1', 'col3'], dtype='object')

In [167]:
df.index

RangeIndex(start=0, stop=4, step=1)

### 6.5 Ordenar um dataframe

In [168]:
df.sort_values(by='col1', ascending=False)

   col1 col3
3     4  xyz
2     3  ghi
1     2  def
0     1  abc

### 6.6 Verificar valores nulos em Dataframes

In [169]:
df.isnull()

    col1   col3
0  False  False
1  False  False
2  False  False
3  False  False

### 6.7 Preenchendo os valores de NaN com outra coisa: **

In [170]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc', 'def', 'ghi', 'xyz']
                  })

In [171]:
df

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [172]:
df['col1'].fillna(value=df['col1'].mean(), inplace=True)

### 6.8 pivot_table

- Uma tabela dinâmica é uma tabela de valores agrupados que agrega os itens individuais de uma tabela mais extensa em uma ou mais categorias discretas. Esse resumo pode incluir somas, médias ou outras estatísticas, que a tabela dinâmica agrupa usando uma função de agregação escolhida aplicada aos valores agrupados

In [174]:
df

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   2.0  444.0  xyz

In [173]:
df.pivot_table(values='col2', index=['col3'], columns=['col1'])

col1    2.0    3.0
col3
def   555.0    NaN
ghi     NaN  666.0
xyz   444.0    NaN

# 7. Entrada e saída de dados

Este notebook conterá nossas referências sobre entrada e saída de dados. O pandas pode ler uma variedade de tipos de arquivos usando seus métodos pd.read_. Vejamos os tipos de dados mais comuns:

In [175]:
import numpy as np
import pandas as pd

### 7.1 CSV

#### 7.1.1 CSV Input

In [177]:
df = pd.read_csv('exemplo.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

#### 7.1.2 Saída de dados tipo CSV

In [ ]:
df.to_csv('exemplo.csv',index=False)

### 7.2 Excel

Pandas podem ler e escrever arquivos do Excel, tenha em mente, isso só importa dados. Não fórmulas nem imagens, lembrando que imagens ou macros podem bugar o método.

In [ ]:
#pd.read_excel('Exemplo_Excel.xlsx',sheetname='Sheet1')

In [ ]:
#df.to_excel('Exemplo_Excel.xlsx',sheet_name='Sheet1')

## 7.3 HTML

Você pode precisar instalar htmllib5, lxml e BeautifulSoup4. No seu terminal / prompt de comando, execute:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4
    
Em seguida, reinicie o Jupyter Notebook. 
(Ou use instalação de pip se não estiver usando a Distribuição de Anaconda)
Pandas podem ler guias de tabelas fora de html. Por exemplo:

### Entrada HTML

A função Pandas read_html irá ler tabelas fora de uma página da Web e retornar uma lista de objetos DataFrame:

In [ ]:
#df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')